@use "./colors" as colors;

:root {
  width: 100%;
  min-height: 100vh;
  background-color: colors.$backgroung-color;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Furore', sans-serif;
  box-sizing: border-box;
}