/* Страница с подробностями эвента */
.event-detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #0b0c10, #1f2833);
  min-height: 100vh;
  padding: 2rem;
  color: #EDF5E1;
}

/* Карточка детализированного эвента */
.event-detail-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.detail-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.detail-title {
  font-size: 36px;
  margin-bottom: 1rem;
  color: #8EE4AF;
}
.detail-date,
.detail-description,
.detail-instructions {
  font-size: 18px;
  margin-bottom: 1rem;
}
.detail-register-button {
  background-color: #5CDB95;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #0b0c10;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.detail-register-button:hover {
  background-color: #379683;
}
